*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: lightgrey;
}
.container{
    width: 500px;
    margin: auto;
    margin-top:50px ;
    background-color: white;
}
.cardList{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}